.rename-entries
{
    .shortname-group
    {
        margin-bottom: 25px;

        .rename-entry-header
        {
            font-size: 13px;
            margin: auto;
            text-align: center;
            margin-bottom: 5px;
        }
    }
}