@charset "UTF-8";

body
{
    margin: 0;
    font-family: roboto;
}

p
{
    margin: 0;
}

h2
{
    margin: 0;
    font-weight: 300;
}

.main
{
    width: 1200px;
    margin: auto;

    .input-zone
    {
        text-align: center;
        padding: 50px;

        .rename-input
        {
            width: 60%;
        }
    }
}